@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Newsreader', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-hover {
  @apply transition-colors duration-200;
}

.link-hover:hover {
  color: #1152d4;
  text-decoration: underline;
  text-underline-offset: 4px;
}

p {
  @apply mb-6;
}
